* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(images/background.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  font-family: "Dosis", sans-serif;
  color: #c9dbdb;
  overflow-x: hidden;
  text-align: center;
}

.display-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden-content {
  display: none;
}

/* written section of website*/
section {
  margin: 0rem 0 2rem 0;
}

p {
  margin: 2rem 0 0rem 0;
  font-size: 1.5rem;
  color: #df8b6a;
  letter-spacing: 3px;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 25px;
  margin-bottom: 1rem;
}

/*time counter*/
.timer .row {
  display: inline;
  font-size: 2rem;
  padding: 1rem;
  margin-right: 0.8rem;
  border: 1px solid #697474;
  border-radius: 0.5rem;
}

/*social media links*/
.contact-links {
  margin-top: 7rem;
  padding-left: 3rem;
}

span a {
  padding-right: 3rem;
}

a {
  color: #c9dbdb;
  text-decoration: none;
}
a:hover {
  color: #df8b6a;
}
/*media queries*/
@media (max-width: 620px) {
  h2 {
    font-size: 30px;
    letter-spacing: 15px;
  }

  section {
    margin-top: 4rem;
  }

  .timer .row {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.3rem;
    padding: 0 6rem 0 6rem;
    line-height: 1.5rem;
  }

  .contact-links {
    padding-left: 2rem;
  }

  section {
    margin-top: 0;
  }
}

@media (max-width: 390px) {
  h2 {
    letter-spacing: 5px;
  }
  p {
    padding: 0 3rem 0 3rem;
  }
  .timer .row {
    padding: 0.5em;
  }

  .contact-links {
    margin-top: 4rem;
  }
}
